<div class="center-fields">
  <h1 mat-dialog-title>Weapons</h1>
  <div mat-dialog-actions>
    <div class="col-sm-6 weapon-col">
        <input type="image" src='../../../assets/images/buttons/Grenade.png' stop-focus (click)="select('GRENADE')">
        <input type="image" src='../../../assets/images/buttons/Dynomite.png' stop-focus (click)="select('DYNOMITE')">
    </div>
    <div class="col-sm-6 weapon-col">
      <input type="image" src='../../../assets/images/buttons/Rocket.png' stop-focus (click)="select('ROCKET')">
      <input type="image" src='../../../assets/images/buttons/Shotgun.png' stop-focus (click)="select('SHOTGUN')">
    </div>
  </div>
</div>